.button {
  border-radius: 16px;
  padding: 16px 72px;

  margin-right: 16px;
  margin-top: 12px;

  border: none;

  color: var(--black-light);
  font-weight: 500;

  box-shadow: 0px 17px 17px rgba(204, 204, 204, 0.04),
    0px 5.125px 5.125px rgba(204, 204, 204, 0.0260636),
    0px 2.12866px 2.12866px rgba(204, 204, 204, 0.02),
    0px 0.769896px 0.769896px rgba(204, 204, 204, 0.0139364);

  transition: .3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13),
    0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066),
    0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065),
    0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);
}